@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
:root {
  --black: #263238;
  --black-2: #000000;
  --black-3: #2a3246;
  --grey: #939393;
  --grey-2: #8f95a5;
  --grey-3: #f5f5f5;
  --grey-4: #eeeeee;
  --grey-5: #546269;
  --grey-6: #c4c4c4;
  --white: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  background-color: var(--white);
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.page {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.page__box {
  margin: 0 auto;
  max-width: 1338px;
}
.page__welcome {
  margin-top: 20px;
}
.page__skills {
  margin-top: 100px;
  margin-bottom: 235px;
}
.page__title {
  margin-bottom: 80px;
}
.page__aboutus {
  margin-bottom: 220px;
}

.navbar {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.navbar__item {
  font-size: 20px;
  line-height: 30px;
  color: var(--black);
}

.header__logo {
  font-size: 36px;
  line-height: 54px;
}
.header__logo span:nth-child(2) {
  color: var(--grey);
}
.header__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 55px;
}

.button {
  font-size: 24px;
  line-height: 36px;
  color: var(--black-2);
  border: 2px solid var(--black);
  border-radius: 5px;
  background-color: var(--white);
  width: 220px;
  height: 70px;
}
.button__welcome {
  height: 118px;
  width: 438px;
  border-radius: 15px;
  font-size: 36px;
  line-height: 54px;
  color: var(--white);
  background-color: var(--black);
}
.button__card {
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
  color: var(--white);
  background-color: var(--black);
}
.button__card-price {
  width: 240px;
  height: 45px;
  border-radius: 5px;
  background-color: var(--grey-4);
}
.button__card-price span:first-child {
  font-size: 30px;
  line-height: 45px;
  color: var(--black);
}
.button__card-price span:last-child {
  font-size: 18px;
  line-height: 27px;
  color: var(--grey-5);
}

.main {
  flex: 1;
}

.welcome__body {
  display: flex;
  gap: 155px;
  align-items: center;
}
.welcome__content {
  display: flex;
  flex-direction: column;
  position: relative;
}
.welcome__title {
  font-size: 64px;
  line-height: 80px;
  font-weight: 600;
  color: var(--black-2);
}
.welcome__text {
  font-size: 24px;
  line-height: 36px;
  color: var(--grey-2);
  padding: 40px 0 60px;
}
.welcome__img {
  position: absolute;
  top: 90px;
  left: 415px;
}

.skills__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1.5fr 0.8fr;
  grid-template-areas: "speak write read" "speak listen listen";
  grid-gap: 18px;
}
.skills__speaking {
  grid-area: speak;
}
.skills__speaking .card__title {
  padding: 4px 0 5px;
}
.skills__speaking .card__content {
  padding-bottom: 36px;
}
.skills__speaking .card__img {
  text-align: center;
}
.skills__writing {
  grid-area: write;
}
.skills__writing .card__content {
  padding-bottom: 35px;
}
.skills__writing .button__card {
  margin-bottom: 44px;
}
.skills__writing .card__img {
  text-align: end;
}
.skills__reading {
  grid-area: read;
}
.skills__reading .card__content {
  padding-bottom: 35px;
}
.skills__reading .button__card {
  margin-bottom: 44px;
}
.skills__listening {
  grid-area: listen;
}
.skills__listening .card__title {
  padding-top: 15px;
}
.skills__listening .card__content {
  padding-bottom: 25px;
}
.skills__listening .button__card {
  margin-bottom: 50px;
}

.card {
  background-color: var(--grey-3);
  border-radius: 10px;
}
.card__title {
  font-size: 30px;
  line-height: 80px;
  color: var(--black);
  font-weight: 600;
}
.card__body {
  padding: 0 39px;
}
.card__content {
  line-height: 24px;
  color: var(--grey-2);
}
.card_mode {
  display: flex;
  align-items: center;
}

.title {
  font-size: 48px;
  line-height: 80px;
  font-weight: 600;
  color: var(--black-2);
  text-align: center;
}

.aboutus__body {
  display: flex;
  gap: 200px;
  align-items: center;
}
.aboutus__title {
  text-align: left;
}
.aboutus__text {
  font-size: 20px;
  line-height: 30px;
  color: var(--grey-2);
  padding: 20px 0 30px;
}
.aboutus__numbers {
  display: flex;
  justify-content: space-between;
}
.aboutus__pupils {
  text-align: center;
}
.aboutus__pupils p:first-child {
  font-weight: 600;
  font-size: 48px;
  line-height: 80px;
  color: var(--black-3);
}
.aboutus__pupils p:last-child {
  font-size: 20px;
  line-height: 30px;
  color: var(--grey-2);
}
.aboutus__teachers {
  text-align: center;
}
.aboutus__teachers p:first-child {
  font-weight: 600;
  font-size: 48px;
  line-height: 80px;
  color: var(--black-3);
}
.aboutus__teachers p:last-child {
  font-size: 20px;
  line-height: 30px;
  color: var(--grey-2);
}
.aboutus__languages {
  text-align: center;
}
.aboutus__languages p:first-child {
  font-weight: 600;
  font-size: 48px;
  line-height: 80px;
  color: var(--black-3);
}
.aboutus__languages p:last-child {
  font-size: 20px;
  line-height: 30px;
  color: var(--grey-2);
}

.pricing__body {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  margin-bottom: 220px;
}

.card-price {
  flex: 0 1 33.3333%;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}
.card-price__img {
  text-align: center;
}
.card-price__title {
  font-size: 30px;
  line-height: 48px;
  font-weight: 600;
  color: var(--black);
  padding-bottom: 20px;
  padding-top: 40px;
}
.card-price__text {
  font-size: 20px;
  line-height: 30px;
  color: var(--grey-2);
  padding-bottom: 20px;
  flex: 1;
}

.contact {
  padding-bottom: 133px;
}
.contact__content {
  display: flex;
  align-items: center;
  gap: 100px;
}
.contact__content input::-webkit-input-placeholder {
  color: var(--grey-2);
  font-size: 16px;
  line-height: 24px;
}
.contact__title {
  text-align: left;
  padding-bottom: 37px;
}
.contact__input {
  border: 1px solid var(--grey-2);
  border-radius: 10px;
  padding: 28px 33px;
  width: 60%;
}
.contact__form {
  display: flex;
  flex-direction: column;
}
.contact__submit {
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  color: var(--white);
  background-color: var(--black);
  border-radius: 10px;
  padding: 22px 82px;
  margin-left: 10px;
}
.contact__text {
  font-size: 20px;
  line-height: 30px;
  color: var(--grey-2);
  padding-bottom: 52px;
}

.footer__divider {
  background-color: var(--grey-6);
  height: 1px;
  position: absolute;
  width: 100%;
  margin-bottom: 100px;
}
.footer__logo {
  font-size: 36px;
  line-height: 54px;
}
.footer__logo span:nth-child(2) {
  color: var(--grey);
}
.footer__box {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.footer__content p {
  font-size: 24px;
  line-height: 36px;
  color: var(--grey-2);
}

/*# sourceMappingURL=index.css.map */
