.aboutus {
    &__body {
        display: flex;
        gap: 200px;
        align-items: center;
    }

    &__img {
        & svg {
            height: 500px;
            width: 500px;
            @media screen and (max-width: 425px) {
                height: 283px;
                width: 283px;
            }
            @media screen and (max-width: 575px) and (min-width: 426px) {
                height: 352px;
                width: 352px;
            }
            @media screen and (max-width: 767px) and (min-width: 576px) {
                height: 295px;
                width: 295px;
            }

            @media screen and (max-width: 992px) and (min-width: 768px) {
                height: 336px;
                width: 336px;
            }
        }
    }

    &__title {
        text-align: left;
    }

    &__text {
        font-size: 20px;
        line-height: 30px;
        color: var(--grey-2);
        padding: 20px 0 30px;
    }

    &__numbers {
        display: flex;
        justify-content: space-between;
    }
    &__pupils {
        text-align: center;
        & p:first-child {
            font-weight: 600;
            font-size: 48px;
            line-height: 80px;
            color: var(--black-3);
        }
        & p:last-child {
            font-size: 20px;
            line-height: 30px;
            color: var(--grey-2);
        }
    }

    &__teachers {
        text-align: center;
        & p:first-child {
            font-weight: 600;
            font-size: 48px;
            line-height: 80px;
            color: var(--black-3);
        }

        & p:last-child {
            font-size: 20px;
            line-height: 30px;
            color: var(--grey-2);
        }
    }
    &__languages {
        text-align: center;
        & p:first-child {
            font-weight: 600;
            font-size: 48px;
            line-height: 80px;
            color: var(--black-3);
        }

        & p:last-child {
            font-size: 20px;
            line-height: 30px;
            color: var(--grey-2);
        }
    }
}
