.card-price {
    flex: 0 1 33.3333%;
    display: flex;
    flex-direction: column;
    padding: 0 20px;

    &__img {
        text-align: center;
    }
    &__title {
        font-size: 30px;
        line-height: 48px;
        font-weight: 600;
        color: var(--black);
        padding-bottom: 20px;
        padding-top: 40px;
    }

    &__text {
        font-size: 20px;
        line-height: 30px;
        color: var(--grey-2);
        padding-bottom: 20px;
        flex: 1;
    }

    &__self {
        height: 283px;
        width: 311px;
        @media screen and (max-width: 425px) {
            height: 248px;
            width: 248px;
        }
        @media screen and (max-width: 575px) and (min-width: 426px) {
            height: 291px;
            width: 291px;
        }
        @media screen and (max-width: 767px) and (min-width: 576px) {
            height: 195px;
            width: 195px;
        }

        @media screen and (max-width: 992px) and (min-width: 768px) {
            height: 222px;
            width: 222px;
        }
    }

    &__live {
        height: 283px;
        width: 391px;
        @media screen and (max-width: 425px) {
            height: 197px;
            width: 257px;
        }
        @media screen and (max-width: 575px) and (min-width: 426px) {
            height: 241px;
            width: 314px;
        }
        @media screen and (max-width: 767px) and (min-width: 576px) {
            height: 168px;
            width: 219px;
        }

        @media screen and (max-width: 992px) and (min-width: 768px) {
            height: 195px;
            width: 267px;
        }
    }

    &__personal {
        height: 283px;
        width: 340px;
        @media screen and (max-width: 425px) {
            height: 241px;
            width: 241px;
        }
        @media screen and (max-width: 575px) and (min-width: 426px) {
            height: 253px;
            width: 253px;
        }
        @media screen and (max-width: 767px) and (min-width: 576px) {
            height: 210px;
            width: 210px;
        }

        @media screen and (max-width: 992px) and (min-width: 768px) {
            height: 242px;
            width: 242px;
        }
    }
}
