.card {
    background-color: var(--grey-3);
    border-radius: 10px;
    display: flex;
    flex-direction: column;

    &__title {
        font-size: 30px;
        line-height: 80px;
        color: var(--black);
        font-weight: 600;

        @media screen and (max-width: 425px) {
            font-size: 18px;
        }
        @media screen and (max-width: 575px) and (min-width: 426px) {
            font-size: 18px;
        }
        @media screen and (max-width: 767px) and (min-width: 576px) {
            font-size: 20px;
        }

        @media screen and (max-width: 992px) and (min-width: 768px) {
            font-size: 22px;
        }
    }

    &__body {
        padding: 0 39px;
        flex: 1;
        display: flex;
        flex-direction: column;

        @media screen and (max-width: 1300px) {
            padding: 0 10px;
        }
    }

    &__content {
        line-height: 24px;
        color: var(--grey-2);
        flex: 1;

        @media screen and (max-width: 425px) {
            font-size: 13px;
            line-height: 19.5px;
        }
        @media screen and (max-width: 575px) and (min-width: 426px) {
            font-size: 12px;
            line-height: 18px;
        }
        @media screen and (max-width: 767px) and (min-width: 576px) {
            font-size: 13px;
            line-height: 19.5px;
        }

        @media screen and (max-width: 992px) and (min-width: 768px) {
            font-size: 14px;
            line-height: 21px;
        }
    }

    &_mode {
        display: flex;
        flex-direction: row;
        align-items: center;

        @media screen and (max-width: 767px) {
            flex-direction: column;
        }
    }
}
