.contact {
    padding-bottom: 133px;
    @media screen and (max-width: 425px) {
        padding-bottom: 30px;
    }
    @media screen and (max-width: 575px) and (min-width: 426px) {
        padding-bottom: 50px;
    }
    @media screen and (max-width: 767px) and (min-width: 576px) {
        padding-bottom: 70px;
    }

    @media screen and (max-width: 992px) and (min-width: 768px) {
        padding-bottom: 90px;
    }
    &__content {
        display: flex;
        align-items: center;
        gap: 100px;

        @media screen and (max-width: 604px) {
            flex-direction: column;
            gap: 20px;
        }

        @media screen and (max-width: 1300px) and (min-width: 605px) {
            gap: 10px;
        }

        & input::-webkit-input-placeholder {
            color: var(--grey-2);
            font-size: 16px;
            line-height: 24px;

            @media screen and (max-width: 425px) {
                font-size: 12px;
                line-height: 18px;
            }
            @media screen and (max-width: 575px) and (min-width: 426px) {
                font-size: 13px;
                line-height: 19.5px;
            }
            @media screen and (max-width: 767px) and (min-width: 576px) {
                font-size: 12px;
                line-height: 18px;
            }

            @media screen and (max-width: 992px) and (min-width: 768px) {
                font-size: 14px;
                line-height: 21px;
            }
        }
    }

    &__title {
        text-align: left;
        padding-bottom: 37px;
        @media screen and (max-width: 425px) {
            padding-bottom: 15px;
        }
        @media screen and (max-width: 575px) and (min-width: 426px) {
            padding-bottom: 20px;
        }
        @media screen and (max-width: 767px) and (min-width: 576px) {
            padding-bottom: 30px;
        }

        @media screen and (max-width: 992px) and (min-width: 768px) {
            padding-bottom: 50px;
        }
    }

    &__input {
        border: 2px solid var(--grey-2);
        border-radius: 10px;
        padding: 28px 33px;
        width: 60%;

        @media screen and (max-width: 425px) {
            width: 100%;
            border-radius: 5px;
            padding: 16px 41px;
        }
        @media screen and (max-width: 575px) and (min-width: 426px) {
            border-radius: 5px;
            padding: 20px 25px;
            width: 55%;
        }
        @media screen and (max-width: 767px) and (min-width: 576px) {
            border-radius: 5px;
            padding: 16px 24px;
            width: 50%;
        }

        @media screen and (max-width: 1018px) and (min-width: 768px) {
            border-radius: 10px;
            padding: 23px 14px;
            width: 55%;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
    }

    &__submit {
        font-size: 20px;
        line-height: 30px;
        font-weight: 500;
        color: var(--white);
        background-color: var(--black);
        border-radius: 10px;
        padding: 22px 82px;
        margin-left: 10px;
        border: 2px solid var(--black);
        &:hover {
            background-color: var(--white);
            color: var(--black);
        }
        @media screen and (max-width: 425px) {
            font-size: 14px;
            width: 100%;
            line-height: 21px;
            margin-left: 0px;
            margin-top: 20px;
            padding: 20px 109px;
            border-radius: 5px;
        }
        @media screen and (max-width: 575px) and (min-width: 426px) {
            font-size: 16px;
            line-height: 24px;

            padding: 17px 40px;
            border-radius: 5px;
        }
        @media screen and (max-width: 767px) and (min-width: 576px) {
            font-size: 13px;
            line-height: 19.5px;

            padding: 16px 39px;
            border-radius: 5px;
        }

        @media screen and (max-width: 992px) and (min-width: 768px) {
            font-size: 16px;
            line-height: 24px;

            padding: 21px 51px;
            border-radius: 10px;
        }
    }

    &__text {
        font-size: 20px;
        line-height: 30px;
        color: var(--grey-2);
        padding-bottom: 52px;

        @media screen and (max-width: 425px) {
            font-size: 14px;
            line-height: 21px;
            padding-bottom: 20px;
        }
        @media screen and (max-width: 575px) and (min-width: 426px) {
            font-size: 16px;
            line-height: 24px;
            padding-bottom: 20px;
        }
        @media screen and (max-width: 767px) and (min-width: 576px) {
            font-size: 14px;
            line-height: 21px;
            padding-bottom: 30px;
        }

        @media screen and (max-width: 992px) and (min-width: 768px) {
            font-size: 16px;
            line-height: 24px;
            padding-bottom: 40px;
        }
    }

    &__img svg {
        height: 429px;
        width: 477px;
        @media screen and (max-width: 425px) {
            height: 228px;
            width: 253px;
        }
        @media screen and (max-width: 575px) and (min-width: 426px) {
            height: 322px;
            width: 358px;
        }
        @media screen and (max-width: 767px) and (min-width: 576px) {
            height: 210px;
            width: 233px;
        }

        @media screen and (max-width: 1300px) and (min-width: 768px) {
            height: 312px;
            width: 281px;
        }
    }
}
