.header {
    &__logo {
        font-size: 36px;
        line-height: 54px;

        & span:nth-child(2) {
            color: var(--grey);
        }

        @media screen and (max-width: 425px) {
            font-size: 24px;
            line-height: 36px;
        }

        @media screen and (max-width: 992px) and (min-width: 426px) {
            font-size: 30px;
            line-height: 45px;
        }
    }
    &__box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 55px;

        @media screen and (max-width: 425px) {
            margin-top: 36px;
        }
        @media screen and (max-width: 767px) and (min-width: 426px) {
            margin-top: 39px;
        }

        @media screen and (max-width: 992px) and (min-width: 768px) {
            margin-top: 30px;
        }
    }

    &__button {
        @media screen and (max-width: 575px) {
            display: none;
        }
    }
}
