.page {
    display: flex;
    flex-direction: column;
    height: 100%;

    &__box {
        margin: 0 auto;
        max-width: 1338px;

        @media screen and (max-width: 425px) {
            padding: 0 15px;
        }
        @media screen and (max-width: 575px) and (min-width: 426px) {
            padding: 0 42px;
        }
        @media screen and (max-width: 767px) and (min-width: 576px) {
            padding: 0 39px;
        }

        @media screen and (max-width: 992px) and (min-width: 768px) {
            padding: 0 30px;
        }
    }

    &__welcome {
        margin-top: 20px;
    }

    &__skills {
        margin-top: 100px;
        margin-bottom: 235px;
    }

    &__title {
        margin-bottom: 80px;
    }

    &__aboutus {
        margin-bottom: 220px;
    }
}
