.page {
    display: flex;
    flex-direction: column;
    height: 100%;

    &__box {
        margin: 0 auto;
        max-width: 1338px;

        @media screen and (max-width: 1337px) {
            padding: 0 15px;
        }
    }

    &__welcome {
        margin-top: 20px;
    }

    &__skills {
        margin-top: 100px;
        margin-bottom: 235px;
        @media screen and (max-width: 425px) {
            margin-top: 50px;
            margin-bottom: 75px;
        }
        @media screen and (max-width: 575px) and (min-width: 426px) {
            margin-top: 60px;
            margin-bottom: 75px;
        }
        @media screen and (max-width: 767px) and (min-width: 576px) {
            margin-top: 65px;
            margin-bottom: 90px;
        }

        @media screen and (max-width: 992px) and (min-width: 768px) {
            margin-top: 70px;
            margin-bottom: 100px;
        }
    }

    &__title {
        margin-bottom: 80px;

        @media screen and (max-width: 425px) {
            margin-bottom: 40px;
        }
        @media screen and (max-width: 575px) and (min-width: 426px) {
            margin-bottom: 50px;
        }
        @media screen and (max-width: 767px) and (min-width: 576px) {
            margin-bottom: 60px;
        }

        @media screen and (max-width: 992px) and (min-width: 768px) {
            margin-bottom: 70px;
        }
    }

    &__aboutus {
        margin-bottom: 220px;
        @media screen and (max-width: 425px) {
            margin-bottom: 70px;
        }
        @media screen and (max-width: 575px) and (min-width: 426px) {
            margin-bottom: 80px;
        }
        @media screen and (max-width: 767px) and (min-width: 576px) {
            margin-bottom: 90px;
        }

        @media screen and (max-width: 992px) and (min-width: 768px) {
            margin-bottom: 100px;
        }
    }
}
