.skills {
    &__content {
        display: flex;
        flex-direction: column;
        gap: 20px;

        @media screen and (max-width: 767px) and (min-width: 575px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr 1fr;
            grid-template-areas:
                "speak write"
                "read listen";
            grid-gap: 30px;
        }

        @media screen and (min-width: 768px) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 1.5fr 0.8fr;
            grid-template-areas:
                "speak write read"
                "speak listen listen";
            grid-gap: 10px;
        }
    }
    &__speaking {
        grid-area: speak;

        & .card__title {
            padding: 4px 0 5px;

            @media screen and (max-width: 767px) {
                text-align: center;
            }
        }

        & .card__content {
            padding-bottom: 36px;
        }

        & .card__img {
            text-align: center;
        }

        & .button__card {
            margin-bottom: 44px;
        }

        & svg {
            height: 247px;
            width: 390px;
            @media screen and (max-width: 425px) {
                height: 157px;
                width: 213px;
            }
            @media screen and (max-width: 575px) and (min-width: 426px) {
                height: 132px;
                width: 185px;
            }
            @media screen and (max-width: 767px) and (min-width: 576px) {
                height: 144px;
                width: 214px;
            }

            @media screen and (max-width: 1300px) and (min-width: 768px) {
                height: 162px;
                width: 260px;
            }
        }
    }

    &__writing {
        grid-area: write;

        & .card__title {
            padding: 4px 0 5px;

            @media screen and (max-width: 767px) {
                text-align: center;
            }
        }

        & .card__content {
            padding-bottom: 35px;
        }

        & .button__card {
            margin-bottom: 44px;
        }

        & .card__img {
            text-align: end;

            @media screen and (max-width: 575px) {
                text-align: center;
            }
        }

        & svg {
            height: 247px;
            width: 293px;
            @media screen and (max-width: 425px) {
                height: 157px;
                width: 204px;
            }
            @media screen and (max-width: 575px) and (min-width: 426px) {
                height: 132px;
                width: 182px;
            }
            @media screen and (max-width: 767px) and (min-width: 576px) {
                height: 144px;
                width: 200px;
            }

            @media screen and (max-width: 1300px) and (min-width: 768px) {
                height: 162px;
                width: 205px;
            }
        }
    }
    &__reading {
        grid-area: read;

        & .card__title {
            padding: 4px 0 5px;

            @media screen and (max-width: 767px) {
                text-align: center;
            }
        }

        & .card__content {
            padding-bottom: 35px;
        }

        & .button__card {
            margin-bottom: 44px;
        }

        & svg {
            height: 247px;
            width: 371px;
            @media screen and (max-width: 425px) {
                height: 157px;
                width: 236px;
            }
            @media screen and (max-width: 575px) and (min-width: 426px) {
                height: 132px;
                width: 198px;
            }
            @media screen and (max-width: 767px) and (min-width: 576px) {
                height: 144px;
                width: 216px;
            }

            @media screen and (max-width: 1300px) and (min-width: 768px) {
                height: 162px;
                width: 243px;
            }
        }
    }
    &__listening {
        grid-area: listen;

        & .card__title {
            padding-top: 15px;
            @media screen and (max-width: 767px) {
                text-align: center;
            }
        }

        & .card__content {
            padding-bottom: 25px;
        }

        & .button__card {
            margin-bottom: 50px;
        }

        @media screen and (max-width: 767px) {
            flex-direction: column;
            & .card__img {
                order: 1;
            }

            & .card__body {
                order: 2;
            }
        }

        & svg {
            height: 255px;
            width: 382px;
            @media screen and (max-width: 425px) {
                height: 154px;
                width: 232px;
            }
            @media screen and (max-width: 575px) and (min-width: 426px) {
                height: 137px;
                width: 206px;
            }
            @media screen and (max-width: 767px) and (min-width: 576px) {
                height: 134px;
                width: 202px;
            }

            @media screen and (max-width: 1300px) and (min-width: 768px) {
                height: 169px;
                width: 254px;
            }
        }
    }
}
