.welcome {
    &__body {
        display: flex;
        gap: 155px;
        align-items: center;

        @media screen and (max-width: 574px) {
            flex-direction: column;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        position: relative;
        @media screen and (max-width: 575px) {
            order: 2;
        }
    }

    &__picture {
        @media screen and (max-width: 575px) {
            order: 1;
        }

        & svg {
            height: 661px;
            width: 661px;
            @media screen and (max-width: 425px) {
                height: 290px;
                width: 290px;
            }
            @media screen and (max-width: 575px) and (min-width: 426px) {
                height: 424px;
                width: 424px;
            }
            @media screen and (max-width: 767px) and (min-width: 576px) {
                height: 352px;
                width: 352px;
            }

            @media screen and (max-width: 992px) and (min-width: 768px) {
                height: 460px;
                width: 460px;
            }
        }
    }

    &__title {
        font-size: 64px;
        line-height: 80px;
        font-weight: 600;
        color: var(--black-2);
    }

    &__text {
        font-size: 24px;
        line-height: 36px;
        color: var(--grey-2);
        padding: 40px 0 60px;
    }

    &__img {
        position: absolute;
        top: 90px;
        left: 415px;

        @media screen and (max-width: 575px) {
            display: none;
        }
    }
}
